h1{
    font-size: xx-large;
}
body{
    background-color: white;
}
p{
    text-align: left;
    font-size: xx-large;
    font-style: oblique;
}
h2{
    font-size: xx-large;
    font-style: italic;
    text-align: center;
}