h1{
    font-size: xx-large;
    color: rgb(255, 0, 0)
}
body{
   background-image: url(zaszlo.jpg);
   background-size: cover;
   background-position: ;

}
p{
    text-align: left;
    font-size: xx-large;
    font-style: oblique;
    color: rgb(14, 189, 130);
}
h2{
    font-size: xx-large;
    font-style: italic;
    text-align: center;
}
body{
    background-color: #3d5fcf
}