h1{
    font-size: xx-large;
    color: rgb(255, 0, 0)
}
body{
   /* background-image: url(zaszlo.jpg);
   background-size: cover;
   background-position: ; */

}
p{
    text-align: left;
    font-size: xx-large;
    font-style: oblique;
    color: rgb(14, 189, 130);
}
h2{
    font-size: xx-large;
    font-style: italic;
    text-align: center;
}
body{
    background-color: #3d5fcf
} 

/*  #ujkori{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 230%;
    font-style: italic;
    text-align: justify; /* Új dolgok */
    margin: 20px 100px 20px 100px;
    /* font-variant: small-caps;   kiskapitális */
    line-height: 150%;
    /* text-transform: lowercase;  /* mindenkisbetű */
    /* text-transform: capitalize; */ 
    

} 
#NOB{
    text-decoration: underline overline ; /* aláhúzások */
}

P{
    font-family: 'Times New Roman', Times, serif;
    /* text-align: justify;  */
    color: rgb(24, 24, 94);
    line-height: 1.5;
    margin: 20px 100px 20px 100px;
    background-color: white;
    text-indent: 20px; /* r behúzása */
}
li{
    list-style: url(logo.png);
}
#bejarat{
    height: 200px;
    float: right;
    border: 5px;

}
#doboz{
    border: 8px solid #ffffff;
    padding: 40px;
    width: 250px;
    height: 200px;
    background-color: black;

}
.bekezdes{
    text-transform: uppercase;
}